body {
  background-color: #35ec08;
  color: rgb(0, 0, 0);
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-color: red;
  height: auto;
}
#main {
  width: 100%;
  margin-top: 50px;
}
.info {
  width: 100%;
  text-align: center;
}
.foto {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
}
.name {
  font-size: 35px;
}
.position {
  color: blue;
  font-size: 20px;
  font-style: italic;
}
.profile-info {
  box-sizing: border-box;
  margin-top: 40px;
}
.profile {
  font-size: 2em;
  padding-bottom: 30px;
  padding-left: 70px;
}
.description {
  clear: both;
  padding-left: 100px;
  margin-bottom: 3.2rem;
  border-left: 0.15rem solid #8ea8c3;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}
.education-group {
  box-sizing: border-box;
}
.education {
  font-size: 30px;
  padding-left: 70px;
  padding-bottom: 30px;
}
.education-text {
  border-left: 0.15rem solid #8ea8c3;
  padding-left: 100px;
}
.education-text2 {
  border-left: 0.15rem solid #8ea8c3;
  padding-left: 100px;
}
.course-group {
  margin-top: 40px;
}
.course-title {
  font-size: 2em;
  padding-bottom: 30px;
  padding-left: 70px;
}
.course-text {
  border-left: 0.15rem solid #8ea8c3;
  padding-left: 100px;
}
.aside {
  position: absolute;
  top: 0rem;
  right: 0;
  width: 29rem;
  padding: 0 7.5rem 0 0;
}
